.todayHeader {
  top: 0px;
  padding-top: 59vw;
  position: absolute;
  left: 0px;
  right: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.headerText {
  position: relative;
  height: 100%;
  max-width: 70rem;
  margin: 0px auto;
}

.opacityText {
  color: rgb(237, 237, 237);
  opacity: 0.48;
}

@font-face {
  font-family: Destiny2;
  src: url("../../fonts/destiny2.otf") format("opentype");
}
